.at-form {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.form-control {
  padding-top: 10px !important;
  background-size: 0 2px, 100% 2px !important;
}
.at-pwd-link {
  display: none;
}
.at-signup-link {
  display: none;
}
