<template name="_viewSong">
  <div class="post">
    <a href="{{pathFor 'song' data=slugs}}" class="title" id="song-title">{{{artist}}} - {{{title}}}</a>
    <div class="post-meta">
      <div class="post-meta-item">
        {{#with createdBy}}
          {{> _username}}
        {{/with}}
      </div>
      <div class="post-meta-item">
        {{#if createdAt}}<span class="posted-time"> posted {{timeAgo createdAt}}</span>{{/if}}
      </div>
      &nbsp;|&nbsp;
      <div class="post-meta-item">
        <a href="/songs/{{artistSlug}}/{{titleSlug}}/music">
          <span id="music-count">{{getLength music}}</span>
          <span><i class="c-icon fa fa-music"></i></span>
        </a>
      </div>
    </div>
  </div>
</template>
