<template name="song">
  {{#if artist}}
    {{> _viewSong}}
    <ul class="nav nav-tabs" id="tabs">
      <li role="presentation" class="active"><a class="tab" href="#music" id="music-tab">Music</a></li>
      <li role="presentation"><a class="tab" href="#comments" id="comments-tab">Comments</a></li>
      <li role="presentation"><a class="tab" href="#lists" id="lists-tab">Lists</a></li>
      <li role="presentation"><a class="tab" href="#lists-add" id="lists-add-tab">Add to List</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="music">
        {{> _secondaryMessage}}
      </div>
      <div role="tabpanel" class="tab-pane" id="comments">
        {{> _secondaryMessage}}
      </div>
      <div role="tabpanel" class="tab-pane" id="lists">
        {{> _secondaryMessage}}
      </div>
      <div role="tabpanel" class="tab-pane" id="lists-add">
        {{> _secondaryMessage}}
      </div>
    </div>
  {{/if}}
</template>
