html, body {
  margin: 0px;
  padding: 0px;
}
.content-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1520px;
  width: 90%;
}
.header{
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
}
.header-left {
  display: inline-block;
  height: 40px;
}
.header-right {
  display: inline-block;
  height: 40px;
  float: right;
}
.header-item {
  display: inline-block;
  z-index: 1000;
  margin-left: 3px;
  margin-right: 3px;
  @include vertical-align;
}
.alert {
  margin-top: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  a, a:link, a:visited, a:active, a:hover  {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.nav {
  margin-top: 5px;
}
.post {
  padding: 5px 0px 5px 5px;
  border-bottom:1px solid #e7eff2;
  background: white;
}
